
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title></title>

    <script src="~/Content/js/jquery.js"></script>
    <script src="~/Content/js/artTemplate/template-web.js"></script>

    <style>
        ul li {
            list-style: none;
        }

        img {
            vertical-align: middle;
        }

        .clearfix:before, .clearfix:after {
            clear: both;
            content: ".";
            display: block;
            height: 0;
            visibility: hidden;
        }

        .c {
            clear: both;
            *height: 0;
        }

        .badge-success {
            color: #fff;
            background-color: #11c26d;
        }

        .badge-info {
            color: #fff;
            background-color: #0bb2d4;
        }

        .badge-primary {
            color: #fff;
            background-color: #3e8ef7;
        }

        .badge-warning {
            color: #fff;
            background-color: #eb6709;
        }

        .badge-danger {
            color: #fff;
            background-color: #ff4c52;
        }

        .badge-dark {
            color: #fff;
            background-color: #526069;
        }

        .badge-default {
            background-color: #e4eaec;
            color: #76838f;
        }

        .alert {
            padding: 15px;
            margin-bottom: 20px;
            border: 1px solid transparent;
            border-radius: 4px;
        }

        .alert-info {
            color: #31708f;
            background-color: #d9edf7;
            border-color: #bce8f1;
        }
    </style>
    <script>
        function request(keyValue) {
            var search = location.search.slice(1);
            var arr = search.split("&");
            for (var i = 0; i < arr.length; i++) {
                var ar = arr[i].split("=");
                if (ar[0] == keyValue) {
                    if (unescape(ar[1]) == 'undefined') {
                        return "";
                    } else {
                        return unescape(ar[1]);
                    }
                }
            }
            return "";
        }
        $(function () {
            var areaId = request("areaId");
            var loading = top.layer.msg('数据加载中...',{ time: 0 });
            $.ajax({
                url: '/Home/GetDataByAreaId',
                type: 'GET',
                data: { areaId: areaId },
                dataType: 'JSON',
                success: function (res) {
                    if (res.code === 200) {
                        if (res.data != null) {
                            $('.history_nr').html(
                                template('dataListTpl', { dataList: res.data })
                            );
                        }
                    } else {
                        console.warn(res.msg);
                    }
                    top.layer.close(loading);
                },
                error: function () {
                    top.layer.close(loading);
                    console.log('服务器异常，请配合后端程序使用');
                }
            });
        });

    </script>
</head>

<body>
    <div class="history_nr">
        <script id="dataListTpl" type="text/html">
            <div class="alert alert-info" role="alert">
                姓名：<%=dataList.dtUser[0].Peasant_name%>&nbsp;&nbsp;
                电话：<%=dataList.dtUser[0].Peasant_tep%>&nbsp;&nbsp;
                面积：<%=dataList.dtUser[0].region_Mu%>&nbsp;&nbsp;
                乡镇：<%=dataList.dtUser[0].Peasant_xiang%>&nbsp;&nbsp;
                村：<%=dataList.dtUser[0].Peasant_cun%>
            </div>
            @*<figure class="">
                                <pre><code class="language-html" data-lang="html">
                <span class="nt">姓名:<%=dataList.dtUser[0].Peasant_name%></span>
                                <span class="na">电话:<%=dataList.dtUser[0].Peasant_tep%></span>
                                <span class="s">"glyphicon glyphicon-search"</span>
                                <span class="na">aria-hidden=</span><span class="s">"true"</span>
                                <span class="nt">&gt;&lt;/span&gt;</span></code></pre>
                            </figure>*@
            <% if(dataList.dtXunShi!=null){ %>
            <% for(var i = 0; i < dataList.dtXunShi.length; i++){ %>
            <% var item = dataList.dtXunShi[i]; %>
            <div class="box clearfix" style="width: 100%;">
                <ul class="box-fl" style="width: 42%; float: left;">
                    <li>
                        <span class="badge badge-success">巡视</span><span style="margin-left:75px;"><%=item.op_date%></span>
                    </li>
                    <li>
                        <textarea rows="3" cols="20" style="font-family:微软雅黑;width: 260px;height: 80px;">病虫害：<%=item.DIP_name%>
备注：<%=item.xunshi_beizhu%>
                        </textarea>
                    </li>
                </ul>
                <div style="width: 50%; height: 100px;float: left;margin-top: 25px; ">
                    <img src="data:image/jpg;base64,<%= item.Photo1 %>" style="background: #0BB0BA;width: 45%;height: 100%; display: inline-block;">
                    <img src="data:image/jpg;base64,<%= item.Photo2 %>" style="background: #0BB0BA;width: 45%;height: 100%; display: inline-block;">
                </div>
            </div>
            <% } %>
            <% } %>
            <% if(dataList.dtMuChan!=null){ %>
            <% for(var i = 0; i < dataList.dtMuChan.length; i++){ %>
            <% var item = dataList.dtMuChan[i]; %>
            <div class="box clearfix" style="width: 100%;">
                <ul class="box-fl" style="width: 42%; float: left;">
                    <li>
                        <span class="badge badge-info">亩产</span><span style="margin-left:75px;"><%=item.op_date%></span>
                    </li>
                    <li>
                        <textarea rows="3" cols="20" style="font-family:微软雅黑;width: 260px;height: 80px;">产值：<%=item.chanzhi%>
产量：<%=item.muchan_count%>
备注：<%=item.muchan_beizhu%>
                        </textarea>
                    </li>
                </ul>
                <div style="width: 50%; height: 100px;float: left;margin-top: 25px; ">
                    <img src="data:image/jpg;base64,<%= item.Photo1 %>" style="background: #0BB0BA;width: 45%;height: 100%; display: inline-block;">
                    <img src="data:image/jpg;base64,<%= item.Photo2 %>" style="background: #0BB0BA;width: 45%;height: 100%; display: inline-block;">
                </div>
            </div>
            <% } %>
            <% } %>
            <% if(dataList.dtManage!=null){ %>
            <% for(var i = 0; i < dataList.dtManage.length; i++){ %>
            <% var item = dataList.dtManage[i]; %>
            <div class="box clearfix" style="width: 100%;">
                <ul class="box-fl" style="width: 42%; float: left;">
                    <li>
                        <span class="badge badge-primary">管理</span><span style="margin-left:75px;"><%=item.op_date%></span>
                    </li>
                    <li>
                        <textarea rows="3" cols="20" style="font-family:微软雅黑;width: 260px;height: 80px;">管理类型：<%=item.managetype_name%>
备注：<%=item.manage_beizhu%>
                        </textarea>
                    </li>
                </ul>
                <div style="width: 50%; height: 100px;float: left;margin-top: 25px; ">
                    <img src="data:image/jpg;base64,<%= item.Photo1 %>" style="background: #0BB0BA;width: 45%;height: 100%; display: inline-block;">
                    <img src="data:image/jpg;base64,<%= item.Photo2 %>" style="background: #0BB0BA;width: 45%;height: 100%; display: inline-block;">
                </div>
            </div>
            <% } %>
            <% } %>

            <% if(dataList.dtZhengDi!=null){ %>
            <% for(var i = 0; i < dataList.dtZhengDi.length; i++){ %>
            <% var item = dataList.dtZhengDi[i]; %>
            <div class="box clearfix" style="width: 100%;">
                <ul class="box-fl" style="width: 42%; float: left;">
                    <li>
                        <span class="badge badge-warning">整地</span><span style="margin-left:75px;"><%=item.op_date%></span>
                    </li>
                    <li>
                        <textarea rows="3" cols="20" style="font-family:微软雅黑;width: 260px;height: 80px;">整地方式：<%=item.Landrectification_name%>
备注：<%=item.zhengdi_beizhu%>
                        </textarea>
                    </li>
                </ul>
                <div style="width: 50%; height: 100px;float: left;margin-top: 25px; ">
                    <img src="data:image/jpg;base64,<%= item.Photo1 %>" style="background: #0BB0BA;width: 45%;height: 100%; display: inline-block;">
                    <img src="data:image/jpg;base64,<%= item.Photo2 %>" style="background: #0BB0BA;width: 45%;height: 100%; display: inline-block;">
                </div>
            </div>
            <% } %>
            <% } %>

            <% if(dataList.dtShiFei!=null){ %>
            <% for(var i = 0; i < dataList.dtShiFei.length; i++){ %>
            <% var item = dataList.dtShiFei[i]; %>
            <div class="box clearfix" style="width: 100%;">
                <ul class="box-fl" style="width: 42%; float: left;">
                    <li>
                        <span class="badge badge-danger">施肥</span><span style="margin-left:75px;"><%=item.op_date%></span>
                    </li>
                    <li>
                        <textarea rows="3" cols="20" style="font-family:微软雅黑;width: 260px;height: 80px;">肥料名称：<%=item.fertilizer_name%>
施肥量：<%=item.Applyfertilizer_count%>
肥料种类：<%=item.fertilizertype_name%>
备注：<%=item.Applyfertilizer_beizhu%>
                        </textarea>
                    </li>
                </ul>
                <div style="width: 50%; height: 100px;float: left;margin-top: 25px; ">
                    <img src="data:image/jpg;base64,<%= item.Photo1 %>" style="background: #0BB0BA;width: 45%;height: 100%; display: inline-block;">
                    <img src="data:image/jpg;base64,<%= item.Photo2 %>" style="background: #0BB0BA;width: 45%;height: 100%; display: inline-block;">
                </div>
            </div>
            <% } %>
            <% } %>

            <% if(dataList.dtDaYao!=null){ %>
            <% for(var i = 0; i < dataList.dtDaYao.length; i++){ %>
            <% var item = dataList.dtDaYao[i]; %>
            <div class="box clearfix" style="width: 100%;">
                <ul class="box-fl" style="width: 42%; float: left;">
                    <li>
                        <span class="badge badge-dark">打药</span><span style="margin-left:75px;"><%=item.op_date%></span>
                    </li>
                    <li>
                        <textarea rows="3" cols="20" style="font-family:微软雅黑;width: 260px;height: 80px;">农药名称：<%=item.Pesticides_name%>
农药种类：<%=item.Pesticidestype_name%>
用药量：<%=item.sprayagricultural_count%>
备注：<%=item.sprayagricultural_beizhu%>
                        </textarea>
                    </li>
                </ul>
                <div style="width: 50%; height: 100px;float: left;margin-top: 25px; ">
                    <img src="data:image/jpg;base64,<%= item.Photo1 %>" style="background: #0BB0BA;width: 45%;height: 100%; display: inline-block;">
                    <img src="data:image/jpg;base64,<%= item.Photo2 %>" style="background: #0BB0BA;width: 45%;height: 100%; display: inline-block;">
                </div>
            </div>
            <% } %>
            <% } %>

            <% if(dataList.dtCeTu!=null){ %>
            <% for(var i = 0; i < dataList.dtCeTu.length; i++){ %>
            <% var item = dataList.dtCeTu[i]; %>
            <div class="box clearfix" style="width: 100%;">
                <ul class="box-fl" style="width: 42%; float: left;">
                    <li>
                        <span class="badge badge-default">测土</span><span style="margin-left:75px;"><%=item.op_date%></span>
                    </li>
                    <li>
                        <textarea rows="3" cols="20" style="font-family:微软雅黑;width: 260px;height: 80px;">元素：氮(<%=item.cetu_N%>)、磷(<%=item.cetu_P%>)、钾(<%=item.cetu_K%>)、有机(<%=item.cetu_youji%>)、PH值(<%=item.cetu_PH%>)、铁(<%=item.cetu_Fe%>)、锰(<%=item.cetu_Mn%>)、铜(<%=item.cetu_Cu%>)、锌(<%=item.cetu_Zn%>)、钼(<%=item.cetu_Mo%>)、钙(<%=item.cetu_Ca%>)、镁(<%=item.cetu_Mg%>)、硫(<%=item.cetu_S%>)、氯(<%=item.cetu_Cl%>)、硅(<%=item.cetu_Si%>)
备注：<%=item.cetu_beizhu%>
                        </textarea>
                    </li>
                </ul>
                <div style="width: 50%; height: 100px;float: left;margin-top: 25px; ">
                    <img src="data:image/jpg;base64,<%= item.Photo1 %>" style="background: #0BB0BA;width: 45%;height: 100%; display: inline-block;">
                    <img src="data:image/jpg;base64,<%= item.Photo2 %>" style="background: #0BB0BA;width: 45%;height: 100%; display: inline-block;">
                </div>
            </div>
            <% } %>
            <% } %>
        </script>

    </div>
</body>
</html>
